@model List<Pizza>
@{
	
}

<div class="text-center">

	<ul>
		<h2>Menu Pizze</h2>

		@foreach (Pizza pizza in Model)
		{
			<li>
				<img src="@pizza.Foto">
				<h4>@pizza.Nome</h4>
				<p>@pizza.Descrizione</p>
				<p>@pizza.Prezzo</p>
			</li>
			<a href = "@Url.Action("Update","Pizza", new{ id = pizza.Id})" >Edit</a>

			<form method="POST" asp-action="Delete" asp-route-id="@pizza.Id">
				<button type="submit">Delete</button>
			</form>
		}

	</ul>

</div>
